/Middlewares/ST/touchgfx_backup
/Middlewares/ST/touchgfx_backup1
/Middlewares/ST/touchgfx_backup2
/55022_UniPulsedTinyUI
/Documentazione
/TouchGFX/build
/TouchGFX/simulator
/TouchGFX/60437_TinyUserInterface_backup.touchgfx
/FixHeaderDebugFirmwareSection.bin
/60437_00_55022_00_UniPulsedTinyUI.Helvi
/55022_00_UniPulsedTinyUI.hex
/__X__.ZIP
/TouchGFX/generated
